# FastAPI
fastapi
uvicorn
sqlalchemy
pydantic
jinja2
python-dotenv
psycopg2-binary

# Google API
google-auth
google-auth-oauthlib
google-api-python-client
apscheduler

# Microsoft API
msal
requests

# OpenAI
openai

# Alembic
alembic


# Twilio
twilio